{% extends 'layouts/base.html' %} {% block user %}
<h1 class="ff-heading fs-500">{{user.username}}</h1>
{% endblock %} {% block content %}
<h1 class="fs-700">Parqueadero</h1>

<section class="vehiculos-section">
  <div class="flex f-direction-column">
    <div class="grid vehiculos-container">
      <article
        class="article-container | flex f-direction-column justify-center align-center"
      >
        <div>
          <h2>Propietarios registrados</h2>
          <p>{{propietarios|length }}</p>
        </div>
      </article>
      <article
        class="article-container | flex f-direction-column justify-center align-center"
      >
        <div>
          <h2>Vehiculos registrados</h2>
          <p>{{vehiculos|length }}</p>
        </div>
      </article>
      <article
        class="article-container | flex f-direction-column justify-center align-center"
      >
        <div>
          <h2>Vehiculos en el parqueadero</h2>
          <p>{{tickets|length }}</p>
        </div>
      </article>
    </div>
    <div class="wrapp-top">
      {% if limit %}
      <a href="{% url 'ticket.create' %}" class="clr-almost-red">
        <div class="icon-container | flex align-center">
          <span class="sm-none fs-400">Registrar entrada</span>
        </div></a
      >
      {% endif %}
  
      {% if not limit %}
      <p>El parqueadero a llegado al limite</p>
      {% endif %}
    </div>
    <div>
      <table class="table">
        <thead>
          <tr>
            <th>Vehiculo</th>
            <th>Propietario</th>
            <th>Hora de entrada</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for ticket in tickets %}
          <tr>
              
                <td>
                  {{ ticket.vehiculo }}
                </td>
                <td>
                  {{ ticket.propietario }}
                </td>
                <td>
                  {{ ticket.hora_entrada }}
                </td>
                <td>
                  <a href="{% url 'ticket_registrar' ticket.id %}">Registrar Salida</a>
                </td>
              </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>
{% endblock %}
