{% extends 'layouts/base.html' %} {% block user %}
<h1 class="ff-heading fs-500">{{user.username}}</h1>
{% endblock %} {% block content %}

<h1 class="fs-700">Registrar Salida</h1>

<section class="vehiculos-section">
  <div class="form-container">
    {% for message in messages %}
    <div>
      <h5>{{message}}</h5>
    </div>
    {% endfor %}
    <table class="table">
      <thead>
        <tr>
          <th>Propietario</th>
          <th>Numero de placa</th>
          <th>Hora de entrada</th>
        </tr>
      </thead>
      <tbody>
        <tr>
              <td>
                {{ ticket.propietario }}
              </td>
              <td>
                {{ ticket.vehiculo.placa }}
              </td>
              <td>
                {{ ticket.hora_entrada }}
              </td>
            </tr>
      </tbody>
    </table>
    
    <form method="POST" class="flex formulario">
      {% csrf_token %}
      <button class="button-update">Confirmar Salida</button>
    </form>
  </div>
</section>

{% endblock %}
